body{
	background: #D3CCE3;
	background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);
	background: linear-gradient(to right, #E9E4F0, #D3CCE3);
}
.wrapper{
	display: flex;
	flex-flow: column;
}
