span.etoro-helper-price{
	position: absolute;
	right: 0;
	top: -10px;
	font-size: 12px;
}
span.etoro-helper-price.need-update {
	color:red;
	font-weight: bold;
}
.portfolio-overview span.etoro-helper-price{
	position: relative;
	right: 50px;
	top: -15px;
}
.market-card-ph span.etoro-helper-price{
	right: 10px;
	top: 0;
}
